/*body {
	background:url(images/light.jpg);
}
h1 {
	color :white;
	font-size: 50px;
	text-align: center;
}

p {
	color: white;
	font-size: 25px;
	text-align: center;
}
#enter:focus {
	background: red;
}
h3 {
	color: white;
}
ul {
	color: white;
}
hr {
	color: white;
	padding: 10px;
}
#submit1 {
	background: red;
}
#area {
	color: red;
}
[displayed] {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
#subdel1:focus {
	color: green;
}*/