<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	h1 {
		font-size: bold;
		font-size: 100px;
	}
	body {
		background: red;
	}
	a {
		font-size: bold;
		color: green;
	}
	#poop:hover {
		color: blue;
	}
	#poop2:hover {
		color: blue;
	}





	</style>
	<h1>PLEASE TRY TO NOT KILL YOURSELF WHEN YOU PLAY THIS</h1>`

</head>
<body>
<p><a id="poop" href="http://www.hardestgameever.net/">Please Enjoy</a>
Green For Go</p>	
<a id="poop2" href="/">Go Home</a>


</body>
</html>