<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
body {
	background:url(images/light1.jpg);
}
h1 {
	color :black;
	font-size: 50px;
	text-align: center;
}

p {
	color: black;
	font-size: 25px;
	text-align: center;
}
#enter:focus {
	background: red;
	background-size: 25px;
}
form {
	text-align: center;
}
h3 {
	color: black;
	text-align: center;
}
ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
hr {
	color: black;
}
#submit1 {
	background: blue;
}
#area {
	color: black;
}
img {
	text-align: center;
}
li {
	text-align: center;
}

#subdel1:focus {
	color: black;
}
	</style>
	<title>IdeaBox</title>
</head>
<body>

	<h1>IdeaBox</h1>
	<form action='/' method='POST'>
		<p>
			<a href="/game">Try This First and Then Submit</a>
			Your Idea:
		</p>
		<input id="enter" type='text' name='idea_title'/><br/>
		<textarea id="area" name='idea_description'></textarea><br/>
		<input id="submit1" type='submit'/>
	</form>
	
	<hr>
	<h3>Existing Ideas</h3>

	<ul>
  <% ideas.each_with_index do |idea, id| %>
    <li>
      <%= idea.title %><br/>
      <%= idea.description %>
      <a href="/<%= id %>/edit">Edit</a>
      <form action="/<%= id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
    </li>
  <% end %>
</ul>
</body>
</html>