<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	h1 {
		color :white;
		font-size: 50px;
		margin-left: 300px;
	}
	body {
		background: black;
	}
	p {
		color: white;
		font-size: 25px;
	}
	input:focus {
		background: red;
	}
	h3 {
		color: white;
	}
	ul {
		color: white;
	}
	</style>
	<title>IdeaBox</title>
</head>
<body>
	<h1>IdeaBox</h1>
	<form action='/' method='POST'>
		<p>
			Your Idea:
		</p>
		<input type='text' name='idea_title'/><br/>
		<textarea name='idea_description'></textarea><br/>
		<input type='submit'/>
	</form>
	<h3>Existing Ideas</h3>

	<ul>
		<% ideas.each do |idea| %>
		<li>
			<%= idea.title %><br/>
			<%= idea.description %>
		</li>
		<% end %>
	</ul>
</body>
</html>